.header {
    margin: 16px;
    display: flex;
    margin-bottom: 0;
    align-items: center;
    flex-direction: row;
}

.header a {
    display: inline-block;
    width: 100px;
    height: 40px;
    background-image: url('./assets/tldv-logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.tag {
    background-color: #000;
    color: #FFF;
    font-weight: 700;
    padding: 4px 8px;
    border-radius: 8px;
    margin-left: 8px;
}